# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.boat-game.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documents\GithubProjects\GameJams\BRACKEYS GAMEJAM 2021\jogoDoBarc\boat-game\.idea\.idea.boat-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
